
body{
    background-image:url(../images/backgroun.webp);
   
}
.sub_titles {
    font-size: 30px;
}
 .nav_bar{
    height:75px;
    background-color: brown;
    display: flex;
    align-items: center;
} 
.logo{
    height: 75px;
   
    margin-left: 1%;
    position:relative;
  
}
.nav_bar ul{
    list-style: none;
    display: flex;
    margin-left :20%;
    margin-top: 0%;
    height: 75px;
}
.nav_bar-li{
    margin-left: 15px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.links{
    margin-top: 100px;
}
