
body{
    background-image:url(../images/background2.jpg) ;
    background-size: cover;
    background-attachment: fixed;
   margin-top:50px;
}
p{
    
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    font-size: 20px;
    line-height: 40px;
}
.sub_titles {
    
    font-size: 50px;
}
.nav_bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; /* Pushes items to edges */
    align-items: center;           /* Centers vertically */
    padding: 1rem 2rem;            /* More breathing room */
    background: #2d2d2d;  
    height: 50px;         /* Darker bg for contrast */
    position:fixed;
    top:0;
    right: 0;
    left: 0;
    margin-bottom: 40px;
  }
  
.nav_bar-logo{
    display: flex;
    align-items: center; /* Center vertically */
    margin-right: auto; /* Pushes logo to the left */
    padding: auto;
}
.logo {
    height: 40px;
   width: auto; 
 
   
}
.nav_bar ul{
    
    list-style: none;
   display: flex;
    gap: 20px; /* Space between items */

    padding: 0; /* Remove default padding */
    flex-grow: 1; /* Allow ul to grow and take space */
    justify-content: center; /* Center the list items */
    align-items: center; /* Center vertically */
}
.nav_bar-li{
   
    margin-left: 10%;
    font-size: 25px;
    
    color: white;
    font-weight: bold;
}

.nav_bar a {
    text-decoration: none; 
    color: white; 
}

.search_bar {
    display: flex; 
    align-items: center;
    gap: 10px; 
    margin-left:10%;
    margin-right :20px;
}
.search_bar input {
    height: 30px;
    width: 300px;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 0 10px;  
}
.search_bar button {
    height: 30px;
    border-radius: 15px;
    border: none;
background-color: #292929;
    color: white;
    padding: 0 15px;
    cursor: pointer;  
    margin-right :60px;  
}
.nav_bar-title {
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    color :white 
}
.content {
    padding-top: 20px;
}