.main_title {
    text-align: center;
}
body{
    background-image:url(../images/backgroun.webp);
   
}
.sub_titles {
    font-size: 30px;
}
.nav_bar{
    height:75px;
    background-color: brown;
}
.logo{
    height: 50px;
    width: 50px;
  border: 2px black solid;
  position:relative;
  top:50%;
}
.logo_img{
    height: 50px;
    
}